<div class="card card-user">
    <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
        <div class="block block-one"></div>
        <div class="block block-two"></div>
        <div class="block block-three"></div>
        <div class="block block-four"></div>
        <img class="avatar" src="{{rootURL}}assets/img/uptime-{{this.guardian.guardianStatus.status}}.png" alt="...">
    </div>
    <div class="card-body-stake">
        <br/>
        <h5 class="title" style="font-size: 16px;">
            Guardian Node Uptime
            {{#if this.guardian.isUp}}
                <p>{{moment-duration this.guardian.guardianStatus.uptime 'seconds'}}</p>
            {{else}}
                <p>0 seconds</p>
            {{/if}}
        </h5>
        <hr style="background-color: #525f7f">
        <h5 class="title" style="font-size: 16px; margin-top: 20px">
            Guardian Node Status
            {{#if this.guardian.isUp}}
                <p>{{this.guardian.status}}</p>
            {{else}}
                <p>Not running</p>
            {{/if}}
        </h5>
        {{#if this.guardian.snapshotInfo.latestFinalizedBlockTime}}
            <hr style="background-color: #525f7f">
                <h5 class="title" style="font-size: 16px; margin-top: 20px">
                The lastest finalized block synced is from: 
                <p>{{moment this.guardian.snapshotInfo.latestFinalizedBlockTime}}</p>
            </h5>
        {{/if}}
    </div>
    </div>
    <div class="card-footer">
    </div>
</div>