<ul class="nav">
    {{#each menuItemList as |menuItem|}}
    <li class="nav-item {{if menuItem.classActive "active"}}">
        <a class="nav-link" {{menuItem.name}} {{on 'click' transitionTo}}>
        <i class="tim-icons {{menuItem.icon}}"></i>
        <p class="menu-item">{{menuItem.name}}</p>
        </a>
    </li>
    {{/each}}
</ul>