<div class="card card-user">
    <div class="card-header ">
        <div class="row">
            <div class="col-sm-12 text-left">
                <p class="card-text"></p>
                <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <h2 class="card-title domain-title">Offer Received</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body card-offers">
        {{#if this.offer.isConnectedWallet}}   
            {{#each this.offer.offersReceived as |offerReceived|}}
                 {{#each offerReceived.offers as |offer|}}
                    <div class="offer-made-cards">
                        <h3>{{offerReceived.domainName}}</h3>
                        <div class="alert-success alert emphesized">
                            <span>Offer amount:</span>
                            <p>{{offer.offerAmount}} Tfuel</p>
                        </div>
                        <br/><br/>
                        <div>{{offer.walletMakingOffer}}<br/> made an offer to buy your Domain:</div><br/>
                        <div class="buttons-container">
                            <button type="submit" {{on 'click' (fn this.offer.rejectOffer offerReceived)}} class="btn btn-fill btn-secondary">Reject Offer</button>
                            <button type="submit" {{on 'click' (fn this.offer.acceptOffer offerReceived)}} class="btn btn-fill btn-primary">Accept Offer</button>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p class="offer-placeholder">No offer received.</p>
            {{/each}}
                <button type="submit" {{on 'click' this.connectWallet}} class="btn btn-fill btn-primary connect-wallet-offer-button refresh-offer">Refresh</button>
        {{else}}
            <p class="offer-placeholder connection-offer">Please <a href="" class="connect-wallet-offer-button" {{on 'click' this.connectWallet}}>connect your wallet</a> to access your offers.</p>
        {{/if}}
    </div>
</div>