{{contract/offer-received-modal  offer=this.offer ownerAddress=this.ownerAddress acceptedOffer=this.acceptedOffer}}
{{contract/offer-canceled-modal offer=this.offer}}

<div {{did-insert setupOfferReceivedEventListener}} class="col-lg-6 col-md-6">
    {{contract/offer-made-list isConnectedWallet=this.isConnectedWallet offersMade=this.offersMade connectWallet=this.connectWallet cancelOffer=this.cancelOffer}}
</div>
<div {{did-insert setupOfferMadeEventListener}} class="col-lg-6 col-md-6">
    {{contract/offer-received-list isConnectedWallet=this.isConnectedWallet offersReceived=this.offersReceived connectWallet=this.connectWallet acceptOffer=this.acceptOffer rejectOffer=this.rejectOffer}}
</div>