<div class="wallet-address-search-container">
    <div>
        {{#if this.thetaSdk.currentAccount}}
            <input placeholder="Enter Wallet Adress" readonly  class="wallet-address-span" data-toggle="modal" data-target="#searchModal" value="{{this.walletLabel}}"/>
            <br class="d-block d-sm-none d-md-none d-lg-none"/><button {{on 'click' this.connectWallet}} type="submit" class="connect-wallet-button btn btn-fill btn-primary btn-left">Connect Wallet</button>
        {{else}}
            <input placeholder="Enter Wallet Adress"  readonly class="wallet-address-span" data-toggle="modal" data-target="#searchModal" value="{{this.walletLabel}}"/>
            <br class="d-block d-sm-none d-md-none d-lg-none"/><button {{on 'click' this.connectWallet}} type="submit" class="connect-wallet-button btn btn-fill btn-primary btn-left">Connect Wallet</button>
        {{/if}}
    </div>
</div>
