<a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
    <div class="notification d-block d-sm-block d-md-block d-lg-block d-xl-block {{guardian.guardianStatus.status}}"></div>
    <i class="tim-icons icon-sound-wave"></i>
</a>
<ul class="dropdown-menu dropdown-menu-right dropdown-navbar guardian-status-ul">
     <div class="guardian-status-alert alert {{if guardian.isError "alert-danger"}} {{if guardian.isSyncing "alert-warning"}} {{if guardian.isReady "alert-success"}}">
        <p>Guardian Status</p>
        <span><b> {{guardian.status}} 
            {{#if guardian.isUp}}
                <p>since {{moment-duration guardian.guardianStatus.uptime 'seconds'}}</p>
            {{/if}}
            {{#if guardian.isSyncing}}
                {{#if guardian.snapshotInfo.latestFinalizedBlockTime}} 
                    <p>The lastest finalized block synced is from: {{moment guardian.snapshotInfo.latestFinalizedBlockTime}}</p>
                {{/if}}
            {{/if}}
            <p></p>
            {{#if guardian.isError}}
                <button {{on "click" this.guardian.startGuardian}} type="submit" class="btn btn-fill btn-primary btn-left">Start Guardian</button>
            {{else if guardian.isUp}}
                <button {{on "click" this.guardian.stopGuardian}} type="submit" class="btn btn-fill btn-primary btn-left">Stop Guardian</button>
            {{/if}}
            <p></p>
        </b> </span>
    </div>
</ul>