<div class="card card-user">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
      <img class="avatar" src="{{rootURL}}assets/img/logo/tfuel.png" alt="...">
    </div>
      <div class="card-body-stake">
        <h5 class="title">Theta</h5>
          <div class="trend-activity">
            <p class="description">Current Price:</p>
            <p class="title current-price">${{format-number this.thetaSdk.prices.tfuel maximumFractionDigits="2"}}</p>
        </div>
        <hr/>
        <div class="trend-activity">
            <p class="description">Last 24h</p>
            <p class="title {{trendYesterday.class}}">{{trendYesterday.type}} {{trendYesterday.percentChange}}% 
                <span class="trend-usd-change">({{trendYesterday.type}} ${{trendYesterday.change}})</span>
            </p>
        </div>
        <hr/>
        <div class="trend-activity">
            <p class="description">Last 7 days</p>
            <p class="title {{trendLastWeek.class}} ">{{trendLastWeek.type}} {{trendLastWeek.percentChange}}% 
                <span class="trend-usd-change">({{trendLastWeek.type}} ${{trendLastWeek.change}})</span>
            </p>
        </div>
      </div>
  </div>
  <div class="card-footer">
  </div>
</div>