{{#if thetaSdk.downloadProgress}}
    <div class="card-description">
        Downloading... {{thetaSdk.downloadProgress}}%
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar stripes">
            <span class="progress-bar-inner" style="width: {{thetaSdk.downloadProgress}}%"></span>
        </div>
    </div>
{{/if}}
<div class="card-footer-actions">
    {{#if this.isMobile.any}}
        <button {{on "click" this.guardian.refreshLogs}} 
            type="submit" 
            class="btn btn-fill btn-primary btn-left">Refresh 
        </button>
    {{else}}
        <button {{on "click" this.guardian.toggleAutoRefreshLogs}} 
            type="submit" 
            class="btn btn-fill btn-primary btn-left">Auto refresh 
            <span><i class="tim-icons {{if this.guardian.logsAutoRefresh 'icon-check-2' 'icon-simple-remove'}}"></i></span>
        </button>
    {{/if}}
    {{#if guardian.isError}}
        <button {{on "click" this.guardian.startGuardian}} type="submit" class="{{if this.thetaSdk.downloadProgress "disabled"}} btn btn-fill btn-primary btn-left">Start Guardian</button>
        <button {{on "click" this.guardian.updateGuardian}} type="submit" class="{{if this.thetaSdk.downloadProgress "disabled"}} btn btn-fill btn-primary btn-left">Update Guardian</button>
        <button {{on "click" this.downloadLatestSnapshot}} type="submit" class="btn btn-fill btn-primary download-latest-snapshot">Download Latest Snapshot</button>
        {{#if guardian.guardianLatestSnapshotDate}}
            <div>
                <br/>
                <p>The latest Snapshot was downloaded on {{moment-from guardian.guardianLatestSnapshotDate}}</p>
            </div>
        {{/if}}
    {{else if guardian.isSyncing}}
        {{#if this.envManager.config.isNotPublic}}
            <button {{on "click" this.guardian.stopGuardian}} type="submit" class="btn btn-fill btn-primary btn-left">Stop Guardian</button>
        {{/if}}
        {{#if guardian.guardianLatestSnapshotDate}}
            <div>
                <br/>
                <p>The latest Snapshot was downloaded on: {{moment-from guardian.guardianLatestSnapshotDate}}</p>
            </div>
        {{/if}}
    {{else if guardian.isReady}}
        {{#if this.envManager.config.isNotPublic}}
            <button {{on "click" this.guardian.stopGuardian}} type="submit" class="btn btn-fill btn-primary btn-left">Stop Guardian</button>
        {{/if}}
    {{/if}}
</div>