<div class="card card-user card-logs">
    <div class="card-body">
        <p class="card-text"></p>
            <!-- Define a new accordion-list -->
            {{#accordion-list as |accordion|}}
                <!-- For each element in list create an 'accordion.item' -->
                {{#accordion.item as |accordionItem|}}
                    <!-- Create a 'toggle' and a 'panel' for the item -->
                    <div class="AccordionItem-toggles">
                        {{#accordionItem.toggle panelName="summary" as |isActive|}}
                            <div class="author border-right {{if isActive "" "small"}}">
                                <div class="block block-one"></div>
                                <div class="block block-two"></div>
                                <div class="block block-three"></div>
                                <div class="block block-four"></div>
                                <a href="javascript:void(0)">
                                    <img class="avatar" src="{{rootURL}}assets/img/logs.png" alt="...">
                                </a>
                                <p class="title">
                                    Guardian Summary
                                </p>
                            </div>
                        {{/accordionItem.toggle}}
                        {{#accordionItem.toggle panelName="logs" as |isActive|}}
                            <div class="author {{if isActive "" "small"}}">
                                <div class="block block-one"></div>
                                <div class="block block-two"></div>
                                <div class="block block-three"></div>
                                <div class="block block-four"></div>
                                <a href="javascript:void(0)">
                                    <img class="avatar" src="{{rootURL}}assets/img/logs.png" alt="...">
                                </a>
                                <p class="title">
                                    Guardian Logs
                                </p>
                            </div>
                        {{/accordionItem.toggle}}
                    </div>

                <!-- Clicking on the 'toggle' will display the contents of the 'panel' -->
                {{#accordionItem.panel panelName="summary" openOnInit=true}}
                    <p></p>
                    {{#if this.guardian.snapshotInfo.latestFinalizedBlockTime}}
                        <p class="summary-label">Address</p>
                        <div {{on "click" (action this.copySummaryToClipBoard guardian.guardianSummary.msg.Address)}} class="card-description-summary">
                            <p class="summary-value">{{guardian.guardianSummary.msg.Address}}</p>
                        </div>
                        <p class="summary-label">Summary</p>
                        <div {{on "click" (action this.copySummaryToClipBoard guardian.guardianSummary.msg.Summary)}} class="card-description-summary">
                            <p class="summary-value">{{guardian.guardianSummary.msg.Summary}}</p>
                        </div>
                    {{else}}
                        <p></p><br/>
                        <div class="card-description-summary">
                            <p class="summary-value">Guardian Node is not running</p>
                        </div>
                    {{/if}}
                    <div class="card-footer-actions">
                        {{#if this.envManager.config.isNotPublic}}
                            <button {{on "click" this.guardian.refreshSummary}} type="submit" 
                            class="btn btn-fill btn-primary">Refresh</button>
                        {{/if}}
                    </div>
                {{/accordionItem.panel}}
                {{#accordionItem.panel panelName="logs"}}
                    <p {{did-insert this.turnOnLogs}} {{will-destroy this.turnOffLogs}}></p>
                    <div {{on "click" (action this.copyLogsToClipBoard guardian.guardianLogs.logs)}} class="card-description max-height-462" {{autoscroll guardian.guardianLogs.logs}}>
                        {{guardian.guardianLogs.logs}}
                    </div>
                    {{guardian-logs/footer}}
                {{/accordionItem.panel}}
            {{/accordion.item}}
        {{/accordion-list}}
    </div>
</div>
