<div class="card">
    <div class="card-header">
        <h4 class="card-title"> Holdings</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
            <th class="text-center">#</th>
            <th class="text-center d-none d-sm-none d-md-table-cell">Type</th>
            <th class="text-center">Wallet Address</th>
            <th class="text-center d-none d-sm-none d-md-table-cell">Node Address</th>
            <th class="text-center d-none d-sm-none d-md-none d-lg-table-cell">Market Price</th>
            <th class="text-center">Amount</th>
            <th class="text-center">In $</th>
            </tr>
            </thead>
            <tbody>
            {{#each walletList as |balance|}}
            <tr>
                <td class="text-center">
                <img src="{{rootURL}}assets/img/logo/{{balance.currency}}.png"
                        class="img-fluid rounded-circle" style="width: 20px;">
                </td>
                <td class="text-center d-none d-sm-none d-md-table-cell">{{balance.type}}</td>
                <td class="text-center ">
                <a class="a-elipsis" href="{{explorerEndpoint}}/account/{{balance.wallet_address}}">
                {{balance.wallet_address}}
                </a>
                </td>
                <td class="text-center d-none d-sm-none d-md-table-cell">
                <a class="a-elipsis" href="{{explorerEndpoint}}/account/{{balance.node_address}}">
                    {{balance.node_address}}
                </a>
                </td>
                <td class="text-center d-none d-sm-none d-md-none d-lg-table-cell">{{format-number balance.market_price style='currency' currency='USD'}}</td>
                <td class="text-center">{{format-number balance.amount}}</td>
                <td class="text-right">{{format-number balance.value style='currency' currency='USD'}}</td>
            </tr>
            {{else}}
            <p>No Wallet</p>
            {{/each}}
            </tbody>
        </table>
        <div style="text-align: right;">
            {{wallets/wallet-total wallet=walletList}}
        </div>
        </div>
    </div>
</div>