{{page-title "FAQ"}}

<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h5 class="title">ThetaBoard</h5>
            </a>
            <p class="description">
              What is ThetaBoard ?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            Thetaboard.io aim to become the central place for any theta enthusiast.
            We want to bring value to the theta ecosystem by providing functionalities
            that either simplifies access to information about theta, or that enrich the ecosystem with easy access
            features.

            We currently have:
            <ul>
              <li>A Dashboard</li>
              <li>A Wallet</li>
              <li>Domains</li>
              <li>Public Guardian Node</li>
            </ul>

            Thetaboard.io is an open source project hosted on <a
                  href="https://github.com/momohuri/thetaboard">github</a>.
            We have instructions on own to easily deploy an instance of thetaboard. <br>
            This project is developed by two developers based in the silicon valley, Maurin Lenglart and Adrien Vinches.<br>
            We can be contacted for support or suggestions on <a href="https://discord.gg/SGUtY7zBU3"> discord</a> <br>
            If you like the project you can do a donation at  {{donation/donation}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h5 class="title">Dashboard</h5>
            </a>
            <p class="description">
              What is the Dashboard page ?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            The dashboard page exists to report information about theta and tfuel price evolution, as well as some
            information about a wallet.<br>
            To get information about a specific wallet, it possible to either search for it
            by address or <a href="">domain</a> by clicking on the search bar,
            or connect your wallet using the <a
                  href="https://chrome.google.com/webstore/detail/theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
            theta extension.</a>
            It currently has 5 widgets:
            <ul>
              <li><p><b>Tfuel/Theta line chart: </b> This widget provide historic price information for both crypto
                currencies. It can be filtered by year, month or week </p></li>
              <li><p><b> Wallet Composition: </b> It display a pie chart, representing all the theta and tfuel held by
                the wallet with the
                composition in $ value.</p></li>
              <li><p><b> Theta and Tfuel price: </b> Those two widgets gives live information about the current price,
                the delta with the last 24hours, and delta with the last 7 days, as well as market cap. </p></li>
              <li><p><b> Theta and Tfuel price: </b> Those two widgets gives live information about the current price,
                the delta with the last 24hours, and delta with the last 7 days, as well as market cap. </p></li>

            </ul>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h5 class="title">Wallet</h5>
            </a>
            <p class="description">
              What is wallet page ?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            Thetaboard.io aim to become the central place for any theta enthusiast.
            We want to bring value to the theta ecosystem by providing functionalities
            that either simplifies access to information about theta, or that enrich the ecosystem with easy access
            features.

            We currently have:
            <ul>
              <li>A Dashboard</li>
              <li>A Wallet</li>
              <li>Domains</li>
              <li>Public Guardian Node</li>
            </ul>

            Thetaboard.io is an open source project hosted on <a
                  href="https://github.com/momohuri/thetaboard">github</a>.
            We have instructions it easy to install your own instance of thetaboard. <br>
            It is developed by two developers based in the silicon valley, Maurin Lenglart and Adrien Vinches.
            You can contact us on <a href="https://discord.gg/SGUtY7zBU3"> discord</a> <br>
            If you like the porject you can do a donation at  {{donation/donation}}

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h5 class="title">Domain</h5>
            </a>
            <p class="description">
              What is a Domain ?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            Thetaboard.io aim to become the central place for any theta enthusiast.
            We want to bring value to the theta ecosystem by providing functionalities
            that either simplifies access to information about theta, or that enrich the ecosystem with easy access
            features.

            We currently have:
            <ul>
              <li>A Dashboard</li>
              <li>A Wallet</li>
              <li>Domains</li>
              <li>Public Guardian Node</li>
            </ul>

            Thetaboard.io is an open source project hosted on <a
                  href="https://github.com/momohuri/thetaboard">github</a>.
            We have instructions it easy to install your own instance of thetaboard. <br>
            It is developed by two developers based in the silicon valley, Maurin Lenglart and Adrien Vinches.
            You can contact us on <a href="https://discord.gg/SGUtY7zBU3"> discord</a> <br>
            If you like the porject you can do a donation at  {{donation/donation}}

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h5 class="title">Guardian Node</h5>
            </a>
            <p class="description">
              What is the Guardian Node page?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            Thetaboard.io aim to become the central place for any theta enthusiast.
            We want to bring value to the theta ecosystem by providing functionalities
            that either simplifies access to information about theta, or that enrich the ecosystem with easy access
            features.

            We currently have:
            <ul>
              <li>A Dashboard</li>
              <li>A Wallet</li>
              <li>Domains</li>
              <li>Public Guardian Node</li>
            </ul>

            Thetaboard.io is an open source project hosted on <a
                  href="https://github.com/momohuri/thetaboard">github</a>.
            We have instructions it easy to install your own instance of thetaboard. <br>
            It is developed by two developers based in the silicon valley, Maurin Lenglart and Adrien Vinches.
            You can contact us on <a href="https://discord.gg/SGUtY7zBU3"> discord</a> <br>
            If you like the porject you can do a donation at  {{donation/donation}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
