{{page-title "FAQ"}}

<div class="content" id="faq-page">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">Thetaboard</h3>
            </a>
            <p class="description">
              What is Thetaboard?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
              Thetaboard's mission is to become the central place for any Theta enthusiast. <br>
              We want to bring value to the Theta ecosystem by providing functionalities
              that either simplifies access to information about Theta, or enrich the ecosystem.<br>

              We currently have:
            </p>
            <ul>
              <li><a href="#dashboard">A Dashboard</a></li>
              <li><a href="#wallet">A Wallet</a></li>
              <li><a href="#domain">Domains</a></li>
              <li><a href="#guardian">Public Guardian Node</a></li>
            </ul>
            <p>
              Thetaboard is an open source project hosted on <a
                    target="_blank" href="https://github.com/momohuri/thetaboard">github</a>.
              And we encourage people to deploy their own instance of Thetaboard using the easy instructions so they can
              have their own Guardian Node. <br>
              This project is primarily developed and maintained by Maurin Lenglart and Adrien Vinches.<br>
              We can be contacted for support or suggestions on <a target="_blank" href="https://discord.gg/SGUtY7zBU3"> discord</a>.
              <br>
              If you like the project you can make a donation at  {{donation/donation}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="dashboard">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">Dashboard</h3>
            </a>
            <p class="description">
              What is the Dashboard page?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
              The Dashboard page exists to report information about Theta and Tfuel price evolution and wallets.<br>
              To get information about a specific wallet, it possible to either search for it
              by address or <a href="#domain">domain</a> by clicking on the search bar,
              or connect your wallet using the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension</a>.<br>
              It currently has 5 widgets:
            </p>
            <br/>
            <ul class="no-list-deco">
              <li><b>Theta & Tfuel line chart: </b><br/>This widget provides historic price information for both crypto
                currencies. It can be filtered by year, month, or week.
              </li><br/>
              <li><b> Wallet Composition: </b><br/>It displays a pie chart, representing all the Theta and Tfuel held by
                the wallet with the
                composition in $ value.
              </li><br/>
              <li><b> Theta & Tfuel price: </b><br/>These two widgets provide current Theta and Tfuel price,
                the price/percentage change from the last 24 hours/last 7 days, followed by the market cap and the last 24 hours volume.
              </li><br/>
              <li><b> Guardian Node Reward Forecast: </b><br/>Staking Theta on a Guardian Node gives TFuel as rewards. There
                is a minimum of {{format-number 1000}} Theta requirement in order to stake. When inputing an amount of Theta staked, the widget will
                forecast how many Tfuel will be rewarded by day/month/year.
              </li><br/>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="wallet">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">Wallet</h3>
            </a>
            <p class="description">
              What is the Wallet page?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
              The Wallet page shows the total amount of Theta and Tfuel on a wallet, the wallet addresses, and a history
              of all the transactions made on that wallet.
              Finding a wallet can be done by using the wallet address, <a href="#domain">domain</a>, or by connecting to a wallet using the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension</a>.<br>
              We are planning to add a widget to easily transfer and receive Tfuel which will be compatible with <a href="#domain">Domains</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="domain">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">Domain</h3>
            </a>
            <p class="description">
              What is a Domain?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
              Domains are a way of associating a wallet address with a domain name on the Theta blockchain. <br>
              They remove the need for copying and pasting long addresses. You can use them to easily explore a wallet
              or send Tfuels to someone. <br>
              Domains are using a public smart contract that can be found on
              <a target="_blank" href="https://github.com/thetaboard-org/smart_contracts/blob/master/contracts/addressName.sol">
                github</a>.<br>
              <br>
              New domains can be bought using <a href="https://www.google.com/chrome/" target="_blank">Google Chome</a> and the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension</a>.<br>
            </p>
            <br>
            <h4>How to buy a Theta Domain Name</h4>
            <p style="margin-left: 25px;">Search for a domain on the <LinkTo @route="domain"> Domain</LinkTo> page
            and see if it is available or not. <br/><br/>
              <b>If the domain is available:</b><br/>
              The domain can be bought for 5 Tfuel by clicking on the "Review Order" button. It will
              open a pop-up on the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension</a> to confirm the transaction
             <br/><br/>
             <b>If the domain is already taken:</b><br/>
              An offer can be made for at least 1 Tfuel to the current owner of
              the domain.<br>
              Once an offer amount is entered, clicking the "Review Order" button will
              open a pop-up on the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension</a>, and when confirmed the funds will be locked on the smart contract.
              The offer can be canceled at any time and the smart contract will send all the Tfuels back to the original wallet.
              The owner of the domain can either accept or reject the offer.
            </p>
            <br>
            <h4>Address Lookup</h4>
            <p style="margin-left: 25px;"> Enter a wallet address in the Address Lookup widget to list all its associated domains.
              The "My domain name" button can be clicked to link a wallet using the <a
                      target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
                Chrome extension</a>.
            </p>
            <br>
            <h4>My Offers</h4>
            <p style="margin-left: 25px;"> <b>Offer Made:</b><br/> List the statuses of offers made by the current connected wallet. Offers made can be
              canceled at any time, which will transfer the Tfuels from the smart contract back to the original wallet which made the
              offer.<br><br>
              <b>Offer Received:</b><br/> Clicking the "Accept offer" button will open a confirmation pop-up on the <a
                      target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
                Chrome extension</a>. Once confirmed, the smart contract will transfer ownership of the domain to the new owner and send
              the Tfuels to the wallet that accepted the offer (10% of the TFuel will be sent to Thetaboard for support).<br>
              If not satisfied with an offer, it is possible to reject it by clicking on the "Reject offer" button.
              The smart contract will send back the Tfuels to the wallet that made the offer once the rejection is
              confirmed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="guardian">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">Guardian Node</h3>
            </a>
            <p class="description">
              What is the Guardian Node page?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
              Guardian Nodes play an important role in the Theta ecosystem, they form a second layer of defense against potential
              attacks on the blockchain. <br>
              Staking a minimum of {{format-number 1000}} Theta on a Guardian Node will reward proportionally in
              Tfuels. Forecasting can be found on the <LinkTo @route="dashboard">Dashboard.</LinkTo><br>
              Staking Theta on a Guardian Node will keep the Theta on the wallet. The Guardian Node will NOT be in
              control of the Theta and it is always possible to withdraw them.
            </p><br>
            <h4> Using Thetaboard public Guardian Node</h4>
            <p style="margin-left: 25px;">
              Thetaboard hosts a public Guardian Node for the community and anyone can use it by either using the summary below and the <a target="_blank" href="https://docs.thetatoken.org/docs/guardian-staking-process">Theta
              instructions</a> or by using the Stake widget in the <LinkTo @route="guardian">Guardian</LinkTo> page.<br><br>
              <div {{on "click" (action this.copySummaryToClipBoard 'Summary' this.guardian.guardianSummary.msg.Summary)}} class="card-description-summary">
                <p class="summary-value">{{guardian.guardianSummary.msg.Summary}}</p>
              </div>
              <br/><br/>
              <b>Staking using the Stakes widget:</b><br/> From the the <LinkTo @route="guardian">Guardian</LinkTo> page click the "Deposit" button
               and enter the amount of Theta to stake. Then click on "Review Deposit" which will open a confirmation pop-up on the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension.</a> <br><br>
              <b>Unstaking using the Stakes widget:</b><br/>  Click "Withdraw" from the <LinkTo @route="guardian">Guardian</LinkTo> page, which will open a confirmation pop-up on the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension.</a> <br><br>
            </p>
            <h4>Summary and Logs</h4>
            <p style="margin-left: 25px;">
              The Guardian Node Address and Summary are displayed and it is possible to click on it to copy the
              content.<br>
              Curious people can click on the "Guardian Logs" icon, to get the latest logs from the running Guardian
              Node.
            </p><br/>
            <h4>Hosting a Guardian Node</h4>
            <p style="margin-left: 25px;">
              For more advanced users it is possible to set up a Guardian Node using the using the <a
              target="_blank" href="https://docs.thetatoken.org/docs/guardian-node-overview">Theta documentation</a>
              or by setting up an instance of Thetaboard by running the following commands on a Linux
              terminal: <br><br>
              <code>
                curl -L https://raw.githubusercontent.com/momohuri/thetaboard/main/Makefile -o ./Makefile <br>
                NODE_PASSWORD='A-SECRET-PASSWRD' make start_thetaboard<br>
              </code>
              <br>
              More information can be found on our <a
                    target="_blank" href="https://github.com/momohuri/thetaboard">github</a>.<br>

              Setting up a Thetaboard Guardian Node wil unlock the following features:<br>
               <ul>
                 <li>Start/Stop the Guardian Node</li>
                 <li>Update to the latest binaries</li>
                 <li>Download the latest snapshot</li>
                 <li>Check your Guardian Node Logs</li>
               </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
