{{theta-stakes/confirmation-modal}}
<div class="card card-user">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
      <img class="avatar" src="{{rootURL}}assets/img/logo/theta.png" alt="...">
    </div>
    {{#if this.thetaStakes.isStakes}}
      <div class="card-body-stake">
        <h5 class="title">Stakes</h5>
        <h6>Demo only, this feature won't work unless you setup your own guardian</h6>
        <button {{on "click" this.thetaStakes.showDeposit}} type="submit" class="btn btn-fill btn-primary btn-left">Deposit</button>
        <button {{on "click" this.thetaStakes.showWithdraw}} type="submit" class="btn btn-fill btn-primary">Withdraw</button>
        {{#if this.thetaSDK.guardianWallets.length}}
          <div class="stakes-activity">
            {{#each this.thetaSDK.guardianWallets as |guardianWallet|}}
              <p class="title">{{format-number guardianWallet.amount maximumFractionDigits="2"}} <span class="capitalize">{{guardianWallet.currency}}</span> Staked</p>
              <p class="description">Staked on node address:<br/>{{guardianWallet.node_address}}</p>
            {{/each}}
          </div>
        {{else}}
          <br/><br/><br/>
          <div class="stakes-no-activity">
            <p class="title">No Stakes</p>
            <p class="description">Stake THETA to earn TFUEL</p>
          </div>
        {{/if}}
      </div>
    {{else if this.thetaStakes.isDeposit}}
      {{theta-stakes/theta-stakes-deposit}}
    {{else if this.thetaStakes.isWithdraw}}
      {{theta-stakes/theta-stakes-withdraw}}
    {{/if}}
  </div>
  <div class="card-footer">
  </div>
</div>