{{page-title "ThetaboardUi"}}

<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
      <img class="thetaboard-logo" src="{{rootURL}}assets/img/thetaboard-logo.png"/>
    </div>

    <div class="sidebar-wrapper">
      {{menu/menu}}
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="dropdown nav-item">
                {{guardian-notifications/guardian-status-notification}}
              </li>
            <!-- your navbar here -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        {{outlet}}
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="https://github.com/momohuri/thetaboard">
                Theta Board
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          Made with <i class="tim-icons icon-heart-2"></i> by
          <a href="" target="_blank">Maurin Lenglart</a>,
          <a href="" target="_blank">Adrien Vinches</a>
          <br>
          Donations: 0xa078C2852eb6e455f97EeC21e39F8ef24173Df60
        </div>
      </div>
    </footer>
  </div>
</div>
