{{page-title "Dashboard"}}

<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Holdings </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Type</th>
                <th>Wallet Address</th> 
                <th>Node Address</th>
                <th>Market Price</th>
                <th>Amount</th>
                <th class="text-right">In $</th>
              </tr>
              </thead>
              <tbody>
              {{#each @model.wallet_info as |balance|}}
                <tr>
                  <td class="text-center">
                    <img src="{{rootURL}}assets/img/logo/{{balance.currency}}.png"
                         class="img-fluid rounded-circle" style="width: 20px;">
                  </td>
                  <td>{{balance.type}}</td>
                  <td>
                    <a href="https://explorer.thetatoken.org/account/{{balance.wallet_address}}">
                    {{balance.wallet_address}}
                    </a>
                  </td>
                  <td>
                    <a href="https://explorer.thetatoken.org/account/{{balance.node_address}}">
                      {{balance.node_address}}
                    </a>
                  </td>
                  <td>{{format-number balance.market_price style='currency' currency='USD'}}</td>
                  <td>{{format-number balance.amount}}</td>
                  <td class="text-right">{{format-number balance.value style='currency' currency='USD'}}</td>
                </tr>
              {{/each}}
              </tbody>
            </table>
            <div style="text-align: right;">
              {{wallet-total wallet=@model.wallet_info}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <ThetaStakes/>
    </div>
  </div>
</div>
