{{page-title "Dashboard"}}
<div class="row">
  <div class="col-6">
    {{charts/price-chart historic_price=@model.historicPrice}}
  </div>
  <div class="col-6">
    {{charts/holding-pie walletInfo=@model.walletInfo}}
  </div>
</div>

<div class="row">

  <div class="col-md-3">
    {{theta-stakes/theta-stakes}}
  </div>
  <div class="col-md-3">
    {{uptime/uptime}}
  </div>

  <div class="col-md-6">
    {{charts/earnings-forecast walletInfo=@model.walletInfo}}
  </div>
</div>

