{{page-title "Dashboard"}}
<div class="row">
  <div class="col-6">
    {{charts/price-chart historic_price=@model.historicPrice}}
  </div>
  <div class="col-6">
    {{charts/holding-pie}}
  </div>
</div>

<div class="row">

  <div class="col-md-3">
    {{!-- {{theta-stakes/theta-stakes}} --}}
    {{trend/theta historic_price=@model.historicPrice}}
  </div>
  <div class="col-md-3">
    {{!-- {{uptime/uptime}} --}}
    {{trend/tfuel historic_price=@model.historicPrice}}
  </div>

  <div class="col-md-6">
    {{charts/earnings-forecast}}
  </div>
</div>

